[user]
	name = Eugene Molotov
	email = molotov@it-projects.info
	signingkey = CBCD39F888D3E17B

[core]
	editor = emacs

[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	rv = remote -v
        s = status
        c = commit
        cf = commit --fixup
        cn = commit --no-verify
        dc = diff --cached
        lfcp = log --format=format:%H --reverse  # lfcp = log for cherry-pick
        rih2 = rebase -i HEAD~2
        cpc = cherry-pick --continue
        cpa = cherry-pick --abort
        cp = cherry-pick
        cb = rev-parse --abbrev-ref HEAD  # cb = current branch
        dff = "!f() { git diff \"$1^\" \"$1\"; }; f"
        dffn = "!f() { git diff --name-status \"$1^\" \"$1\"; }; f"
        cmsave = commit -m "saved" --no-gpg-sign
